*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active-link{
    display: block;
    background: #ff5da2;
    color: #fff;
}

.nav-links{
    text-decoration: none;
    color: inherit;
}

.icon-color{
    color: #fff;
}

.menu{
    display:block;
}

.menu-list{
    display: none;
}

.menu:hover .menu-list{
    display: flex;
}